# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.10

    working_directory: /go/src/github.com/nilslice/protolock
    steps:
      - checkout
      # fetch depenencies, test code
      - run: go get -v -t -d ./...
      - run: go test -v ./...
      # install binary, test commands
      - run: go install ./...
      - run: protolock
      - run: protolock init
      - run: protolock status
      - run: protolock commit
